<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%=user.user_image%>" class="card-img-top" alt="image">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Username: <strong><%=user.username%></strong></li>
                  <li class="list-group-item">Email: <strong><%=user.user_email%></strong></li>
                  <li class="list-group-item">Total Orders: <strong><%=user.total_orders%></strong></li>
                </ul>
                <% if(currentUser.username === user.username) {%>
                  <div class="card-body">
                    <a href="/users/<%=user._id%>/edit" class="card-link btn btn-info">Edit Details</a>
                    <form class = "d-inline" action="/users/<%=user._id%>?_method=DELETE" method="POST">
                      <button class="card-link btn btn-danger" type="submit">Delete</button>
                    </form>
                  </div>
                <% } %>
            </div>
        </div>
    </div>
